/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions{
	text-align:center;
	position: relative;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	bottom: 1.5em;
	left: 14em;
	right: 14em;
	font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400;
	font-size: 1.3em;
	/* Alle tekst */
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}



/* Voice 1 */
.voice1 {
	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 0.4em;
}
#closed-captions .voice1:first-of-type {
	font-style: normal;
}



/* Voice 2 */
.voice2 {
	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 0.4em;
}



/* Voice 3 */
.voice3 {
	/* background-color: red; */
	/* padding: 0.5em; */
	font-size: 1.25em;
	/* YES SIR */

	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 0.4em;
}



/* Voice 4 */
.voice4 {
	font-style: bold;
	font-size: 1.25em;

	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 0.4em;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

.p0 span {
	opacity: 0;
	font-family: brenner;
	font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400;
}
.p0.on span:first-of-type {
	opacity: 1;
	/* transition: 0s .3s; */
	/* transition: 0s; */
	/* font-weight: 200; */
	/* font-style: normal; */
	/* font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400; */
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	/* transition: 0s .4s; */
	margin-right: -.25em;
	/* font-weight: 400; */
	/* k */
	/* font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400; */
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	/* transition: 0s .5s; */
	margin-right: -.25em;
	/* font-weight: 600; */
	/* D */
	/* font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400; */
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	/* transition: 0s .7s; */
	margin-right: -.25em;
	/* font-weight: 800; */
	/* font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400; */
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	/* transition: 0s 1.1s; */
	margin-right: -.25em;
	/* font-family: "brenner sans"; */
	/* font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400; */
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	/* transition: 0s 1.4s; */
	margin-right: -.25em;
	/* font-family: "brenner display"; */
	/* font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400; */
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	/* transition: 0s 1.7s; */
	margin-right: -.25em;
	/* font-family: "brenner script"; */
	/* font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400; */
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	/* transition: 0s 2s; */
	/* font-family: "brenner script"; */
	/* font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400; */
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	/* transition: 0s 3s; */
	/* font-family: "brenner Sans condensed"; */
	/* font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400; */
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	/* transition: 0s 3.2s; */
	/* font-family: "brenner mono"; */
	/* font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400; */
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	/* transition: 0s 3.7s; */
	/* font-family: "brenner slab"; */
	/* font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400; */
}



/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */
.sound1 {
	background-color: black;
}

/* The moment the class .sound1 is added to the body, the movie makes a turn */
.sound1 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}

.sound2 #video-mask {
	box-shadow: 0 4px 8px 0 #BF620A, 0 6px 20px 0 #BF620A;
}


/* .sound8{ */
	/* background-color: black; */

	.sound9 #video-mask {
		box-shadow: 0 4px 8px 0 transparent, 0 6px 20px 0 transparent;
	}

	.sound9 {
		animation-name: backgroundColorPalette;
		animation-duration: 45s;
		/* animation-iteration-count: infinite; */

	}

	@keyframes backgroundColorPalette {
		0% {
			background: white;
		}
		2%{
			background: black;
		}
		3% {
			background: white;
		}
		4% {
			background: black;
		}
		5% {
			background: white;
		}
		6% {
			background: black;
		}
		7% {
			background: white;
		}
		8% {
			background: black;
		}
		9% {
			background: white;
		}
		10% {
			background: black;
		}
		11% {
			background: white;
		}
		12% {
			background: black;
		}
		13% {
			background: white;
		}
		14% {
			background: black;
		}
		15% {
			background: white;
		}
		16% {
			background: black;
		}
		17% {
			background: white;
		}
		18% {
			background: black;
		}
		19% {
			background: white;
		}
		20% {
			background: black;
		}
		21% {
			background: white;
		}
		22% {
			background: black;
		}
		23% {
			background: white;
		}
		24% {
			background: black;
		}
		25% {
			background: white;
		}
		26% {
			background: black;
		}
		27% {
			background: white;
		}
		28% {
			background: black;
		}
		28% {
			background: white;
		}
		29% {
			background: black;
		}
		30% {
			background: white;
		}
		31% {
			background: black;
		}
		32% {
			background: white;
		}
		33% {
			background: black;
		}
		34% {
			background: white;
		}
		35% {
			background-image: linear-gradient(to right, #441D4B , #C599BC);
		}
		36% {
			background: white;
		}
		37% {
			background: black;
		}
		38% {
			background: white;
		}
		39% {
			background: black;
		}
		40% {
			background: white;
		}
		41% {
			background: black;
		}
		42% {
			background: white;
		}
		43% {
			background: black;
		}
		44% {
			background: white;
		}
		45% {
			background: black;
		}
		46% {
			background: rgb(6, 5, 5);
		}
		47% {
			background: black;
		}
		48% {
			background: white;
		}
		49% {
			background: black;
		}
		50% {
			background: white;
		}
		51% {
			background: black;
		}
		52% {
			background: white;
		}
		53% {
			background: black;
		}
		54% {
			background: white;
		}
		55% {
			background: black;
		}
		56% {
			background: white;
		}
		57% {
			background: black;
		}
		58% {
			background: white;
		}
		59% {
			background: black;
		}
		60% {
			background: white;
		}
		61% {
			background: black;
		}
		62% {
			background: white;
		}
		63% {
			background: black;
		}
		64% {
			background: white;
		}
		65% {
			background: black;
		}
		66% {
			background: white;
		}
		67% {
			background: black;
		}
		68% {
			background: white;
		}
		69% {
			background: black;
		}
		70% {
			background: white;
		}
		71% {
			background: black;
		}
		72% {
			background: white;
		}
		73% {
			background: black;
		}
		74% {
			background: white;
		}
		75% {
			background: black;
		}
		76% {
			background: white;
		}
		77% {
			background: black;
		}
		78% {
			background: white;
		}
		79% {
			background: black;
		}
		80% {
			background: white;
		}
		81% {
			background: black;
		}
		82% {
			background: white;
		}
		83% {
			background: black;
		}
		84% {
			background: white;
		}
		85% {
			background: black;
		}
		86% {
			background: white;
		}
		87% {
			background: black;
		}
		88% {
			background: white;
		}
		89% {
			background: black;
		}
		90% {
			background: white;
		}
		91% {
			background: black;
		}
		92% {
			background: white;
		}
		93% {
			background: black;
		} 
		94% {
			background: white;
		}
		95% {
			background: black;
		} 
		100% {
			background: white;
		}
	}
		/* 11% {
			background: white;
		}
		12% {
			background: black;
		}
		13% {
			background: white;
		}
		14% {
			background: black;
		}
		15% {
			background: white;
		}
		16% {
			background: black;
		}
		17% {
			background: white;
		}
		18% {
			background: black;
		}
		19% {
			background: white;
		}
		20% {
			background: black;
		}
		21% {
			background: white;
		}
		22% {
			background: black;
		}
		23% {
			background: white;
		}
		24% {
			background: black;
		}
		25% {
			background: white;
		}
		26% {
			background: black;
		}
		27% {
			background: white;
		}
		28% {
			background: black;
		}
		29% {
			background: white;
		}
		30% {
			background: black;
		}
		31% {
			background: white;
		}
		32% {
			background: black;
		}
		33% {
			background: white;
		}
		34% {
			background: black;
		}
		35% {
			background: white;
		}
		36% {
			background: black;
		}
		37% {
			background: white;
		}
		38% {
			background: black;
		} */
		/* 39% {
			background: white;
		}
		40% {
			background: black;
		}
		41% {
			background: white;
		}
		42% {
			background: black;
		} */
	
/* } */
/* .sound9{
	background-color: white;
}
.sound10{
	background-color: black
}
.sound11{
	background-color: white;
}
.sound12{
	background-color: black
}
.sound13{
	background-color: white;
}
.sound14{
	background-color: black
}
.sound15{
	background-color: white;
}
.sound16{
	background-color: black
}
.sound17{
	background-color: white;
}
.sound18{
	background-color: black
}
.sound19{
	background-color: white;
}
.sound20{
	background-color: black
}
.sound21{
	background-color: white;
}
.sound22{
	background-color: black
}
.sound23{
	background-color: white;
}
.sound24{
	background-color: black
}
.sound25{
	background-color: white;
}
.sound26{
	background-color: black
}
.sound27{
	background-color: white;
}
.sound28{
	background-color: black
}
.sound29 {
	background-color: white;
}
.sound30{
	background-color: black
}
.sound31{
	background-color: white;
}
.sound32{
	background-color: black
}
.sound33{
	background-color: white;
}
.sound34{
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound35{
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound36{
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound37{
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound38{
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound39{
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}


.sound40 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound41 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound42 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound43 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound44 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound45 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound46 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound47 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound48 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound49 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound50 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound51 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound52 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound53 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound54 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound55 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound56 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound57 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound58 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound59 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound60 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound61 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound62 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound63 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound64 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound65 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound66 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound67 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound68 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound69 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound70 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound71 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
} 
.sound72 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound73 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound74 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound75 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound76 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound77 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound78 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound79 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound80 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
} */
/* .sound81 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound82 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound83 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound84 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound85 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound87 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound88 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound89 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound90 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound91 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound92 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound93 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound94 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound95 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound96 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound97 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound98 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound99 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound100 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound101 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound102 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}
.sound103 #video-mask {
	box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 black;
}
.sound104 #video-mask {
	box-shadow: 0 4px 8px 0 white, 0 6px 20px 0 white;
}  */ 



/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	color: white;
}
#video-container {
	margin: auto;
	position: relative;
}
#video-mask {
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
}
