/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
	color: white;
}
#video-container {
	margin: auto;
	position: relative;
}
#video-mask {
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
}

#closed-captions{
	text-align:center;
	position: relative;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	bottom: 1.5em;
	left: 14em;
	right: 14em;
	font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400;
	font-size: 1.3em;
	/* Alle tekst */
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}



/* Voice 1 */
.voice1 {
	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 0.4em;
}
#closed-captions .voice1:first-of-type {
	font-style: normal;
}



/* Voice 2 */
.voice2 {
	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 0.4em;
}



/* Voice 3 */
.voice3 {
	/* background-color: red; */
	/* padding: 0.5em; */
	font-size: 1.25em;
	/* YES SIR */

	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 0.4em;
}



/* Voice 4 */
.voice4 {
	font-style: bold;
	font-size: 1.25em;

	background: rgba(0, 0, 0, 0.5);
	padding: 0.5rem;
	border-radius: 0.4em;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */

.p0 span {
	opacity: 0;
	font-family: brenner;
	font-style: Normal;
	font-family: "Brenner Sans";
	font-weight: 400;
}
.p0.on span:first-of-type {
	opacity: 1;
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	margin-right: -.25em;
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
}



/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */
.sound0 {
	background: linear-gradient(-45deg,  #293435, grey, black, #1F2524);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



/* The moment the class .sound1 is added to the body, the background is yellow */
.sound1 {
	background: black;
}

/* The moment the class .sound1 is added to the body, the movie makes a turn */
.sound1 #video-mask {
	/* box-shadow: 0 px 8px 50px white, 0 6px 30px 50px white; */
	box-shadow: 0 0 50px 50px white;
}

.sound2 #video-mask {
	box-shadow: 0 0 50px 50px #BF620A;
	transition: all 2s ease-in-out;

	animation-name: tilt-shaking;
	animation-duration: .8s;
}
@keyframes tilt-shaking {
	0% { transform: rotate(0deg); }
	25% { transform: rotate(5deg); }
	50% { transform: rotate(0eg); }
	75% { transform: rotate(-5deg); }
	100% { transform: rotate(0deg); }
}

.sound3 #video-mask {
	transition: all 2s ease-in-out;
	animation-name: zoom-in-zoom-outtt;
	animation-duration: .8s;
}
@keyframes zoom-in-zoom-outtt {
	0% {
	  transform: scale(1, 1);
	}
	50% {
	  transform: scale(1.5, 1.5);
	}
	100% {
	  transform: scale(1, 1);
	}
}


.sound4 #video-mask {
	transition: all 2s ease-in-out;
	animation-name: zoom-in-zoom-out;
	animation-duration: .8s;
}
@keyframes zoom-in-zoom-out {
	0% {
	  transform: scale(1.8, 1.8);
	}
	50% {
	  transform: scale(2, 2);
	}
	100% {
	  transform: scale(1.8, 1.8);
	}
}


.sound5 #video-mask {
	box-shadow: 0 0 50px 50px red;
	animation-name: skew-y-shake;
	animation-duration: 1s;
}
@keyframes skew-y-shake {
	0% { transform: skewY(-15deg); }
	5% { transform: skewY(15deg); }
	10% { transform: skewY(-15deg); }
	15% { transform: skewY(15deg); }
	20% { transform: skewY(0deg); }
	100% { transform: skewY(0deg); }  
}

.sound6 #video-mask {
	box-shadow: none;
	transition: all 2s ease-in-out;
	animation-name: zoom-in-zoom-outtt;
	animation-duration: .8s;
}
@keyframes zoom-in-zoom-outtt {
	0% {
	  transform: scale(1, 1);
	}
	50% {
	  transform: scale(1.25, 1.25);
	}
	100% {
	  transform: scale(1, 1);
	}
}


.sound7 #video-mask {
	/* transition: all 2s ease-in-out; */
	animation-name: shake;
	animation-duration: 4.1s;
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
/* https://www.w3schools.com/howto/howto_css_shake_image.asp */

.sound8 #video-mask {
	transition: all 2s ease-in-out;
	animation-name: zoom-in-zoom-outt;
	animation-duration: .8s;
}
@keyframes zoom-in-zoom-outt {
	0% {
	  transform: scale(1, 1);
	}
	50% {
	  transform: scale(1.5, 1.5);
	}
	100% {
	  transform: scale(1, 1);
	}
}


/* .sound8{ */
	/* background-color: black; */

	.sound10 #video-mask {
		box-shadow: 0 4px 8px 0 transparent, 0 6px 20px 0 transparent;
	}
	.sound10 {
		animation-name: pieptoon;
		animation-duration: 46.5s;
		animation-iteration-count: 1; 
	}
	@keyframes pieptoon {
		0% {
			background: black;
			transform: scale(1, 1);
		}
		3% {
			background: white;
		}
		4% {
			background: black;
		}
		5% {
			background: white;
		}
		6% {
			background: black;
		}
		7% {
			background: white;
		}
		8% {
			background: black;
		}
		9% {
			background: white;
		}
		10% {
			background: black;
			transform: scale(1.12, 1.12);
		}
		11% {
			background: white;
		}
		12% {
			background: black;
		}
		12.5% {
		}
		13% {
			background: white;
		}
		14% {
			background: black;
		}
		15% {
			background: white;
		}
		16% {
			background: black;
		}
		17% {
			background: white;
		}
		18% {
			background: black;
		}
		19% {
			background: white;
		}
		20% {
			background: black;
			transform: scale(1.13, 1.13);
		}
		21% {
			background: white;
		}
		22% {
			background: black;
		}
		23% {
			background: white;
		}
		24% {
			background: black;
		}
		25% {
			background: white;
		}
		26% {
			background: black;
		}
		27% {
			background: white;
		}
		28% {
			background: black;
		}
		29% {
			background: white;
		}
		30% {
			background: black;
			transform: scale(1.13, 1.13);
		}
		31% {
			background: white;
		}
		32% {
			background: black;
		}
		33% {
			background: white;
			background-image: linear-gradient(to right, #441D4B , #C599BC);
		}
		34% {
			background: black;
		}
		35% {
			background: white;
		}
		36% {
			background: black;
		}
		37% {
			background: white;
		}
		37.5% {
			background: white;
			transform: scale(1.14, 1.14);
		}
		38% {
			background: black;
		}
		39% {
			background: white;
		}
		40% {
			background: black;
			transform: scale(1.13, 1.13);
		}
		41% {
			background: white;
		}
		42% {
			background: black;
		}
		43% {
			background: white;
		}
		44% {
			background: black;
		}
		45% {
			background: white;
		}
		46% {
			background: black;
		}
		47% {
			background: white;
			background-image: linear-gradient(to right, #441D4B , #C599BC);
		}
		48% {
			background: black;
		}
		49% {
			background: white;
		}
		50% {
			background: black;
			transform: scale(1.15, 1.15);
		}
		50.5% {
			background: white;
		}
		51% {
			background: black;
		}
		51.5% {
			background: white;
		}
		52% {
			background: black;
		}
		52.5% {
			background: white;
		}
		53% {
			background: black;
		}
		53.5% {
			background: white;
		}
		54% {
			background: black;
		}
		54.5% {
			background: white;
		}
		55% {
			background: black;
		}
		55.5% {
			background: white;
		}
		56% {
			background: black;
		}
		56.5% {
			background: white;
		}
		57% {
			background: black;
		}
		57.5% {
			background: white;
		}
		58% {
			background: black;
		}
		58.5% {
			background: white;
		}
		59% {
			background: black;
		}
		59.5% {
			background: white;
		}
		60% {
			background: black;
			transform: scale(1.13, 1.13);
		}
		60.5% {
			background: white;
		}
		61% {
			background: black;
		}
		61.5% {
			background: white;
		}
		62% {
			background: black;
		}
		62.5% {
			background: white;
		}
		63% {
			background: black;
		}
		63.5% {
			background: white;
		}
		64% {
			background: black;
		}
		64.5% {
			background: white;
		}
		65% {
			background: black;
		}
		65.5% {
			background: white;
		}
		66% {
			background: black;
		}
		66.5% {
			background: white;
		}
		67% {
			background: black;
		}
		67.5% {
			background: white;
		}
		68% {
			background: black;
		}
		68.5% {
			background: white;
		}
		69% {
			background: black;
		}
		70.5% {
			background: white;
		}
		70% {
			background: black;
			transform: scale(1.13, 1.13);
		}
		70.5% {
			background: white;
		}
		71% {
			background: black;
		}
		71.5% {
			background: white;
		}
		72% {
			background: black;
		}
		72.5% {
			background: white;
		}
		73% {
			background: black;
		}
		73.5% {
			background: white;
		}
		74% {
			background: black;
		}
		74.5% {
			background: white;
		}
		75% {
			background: black;
		}
		75.5% {
			background: white;
		}
		76% {
			background: black;
		}
		76.5% {
			background: white;
		}
		77% {
			background: black;
		}
		77.5% {
			background: white;
		}
		78% {
			background: black;
		}
		78.5% {
			background: white;
		}
		79% {
			background: black;
		}
		79.5% {
			background: white;
		}
		80% {
			background: black;
			transform: scale(1.13, 1.13);
		}
		80.5% {
			background: white;
		}
		81% {
			background: black;
		}
		81.5% {
			background: white;
		}
		82% {
			background: black;
		}
		82.5% {
			background: white;
		}
		83% {
			background: black;
		}
		83.5% {
			background: white;
		}
		84% {
			background: black;
		}
		84.5% {
			background: white;
		}
		85% {
			background: black;
		}
		85.5% {
			background: white;
		}
		86% {
			background: black;
		}
		86.5% {
			background: white;
		}
		87% {
			background: black;
		}
		87.5% {
			background: white;
		}
		88% {
			background: black;
		}
		88.5% {
			background: white;
		}
		89% {
			background: black;
		}
		89.5% {
			background: white;
		}
		90% {
			background: black;
			transform: scale(1.13, 1.13);
		}
		90.5% {
			background: white;
		}
		91% {
			background: black;
		}
		91.5% {
			background: white;
		}
		92% {
			background: black;
		}
		92.5% {
			background: white;
		}
		93% {
			background: black;
		} 
		93.5% {
			background: white;
		}
		94% {
			background: black;
		}
		94.5% {
			background: white;
		}
		95% {
			background: white;
		} 
		100% {
			background: black;
			transform: scale(1, 1);
		}
	}

	.sound11{
		background: black;
	} 
	